/* body{
    background-color: #F8FAFC;
} */

header {
    border-bottom: 1px solid #9d9d9d;
}

.headline {
    text-align: center;
    margin-bottom: 100px;
    font-size: 34px;
    font-weight: 700;
    padding-top: 100px;
}

.banner-title{
    font-weight: 800;
    font-size: 37px;
}

.banner-desc{
    font-size: 19px;
}

.cards-row {
    background-color: #F8FAFC;
    display: flex;
    gap: 50px !important;
    width: 80%;
    margin: 0px auto;
    
}

.cards-div.bg-white {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
padding: 30px 18px;
text-align: center;
}

.cards-div.bg-white h5 {
    font-size: 16px;
}

.cards-div.bg-white p {
    font-size: 15px;
    margin-bottom: 0px;
}

.nav-link{
    color: #000;
    font-weight: 600;
}

.nav-link:hover{
    color:#615C5C;
}

.cards img{
    width: 100%;
}

.pricing {
    width: 44%;
}

.pricing:nth-child(2n){
    margin-left: auto;
}

.pricing-title span{
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
}

.pricing-title img{
    height: 50px;
}

.pricing-desc:nth-child(2n){
    margin-right: 125px;
}

.partner-imgs{
    display: flex;
    justify-content: space-around;
}

.partner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.partner img{
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}


.arrows{
    margin-top: -3px;
    display: block;
    font-size: 18px;
    height: max-content;
    font-weight: 700;
    color: #000;
}

.container-fluid.flex-column.my-3 {
   width: 70%; 
}

.footer{
    background-color: #000 ;
    padding: 250px 0 50px;
    margin-top: 50px;
}

.price-btn {
    background: rgba(20, 146, 230, 1) 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
border-radius: 33px;
border: 1px solid rgba(20, 146, 230, 1);
padding: 8px 40px;
font-size: 19px;
margin-top: 20px;
width: max-content;
}

.container-fluid.lorem-container {
    padding: 100px 0;
    background-color: #F8FAFC;
}

.row.cards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.info-card {
    flex: 1;
}

.info-card img {
    width: 244px !important;
    height: 188px;
    margin-bottom: 40px;
}

.card-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.card-rating{
    display: flex;
    flex-direction: column;
}

.card-rating-top {
    display: flex;
    justify-content: space-between;
}

.card-rating-name p, .card-rating-bottom p{
    margin-bottom: 0;
}

.card-rating-name p{
    font-size: 12px;
    font-weight: 600;
}

.card-rating-bottom p{
    font-size: 12px;
    color: #615C5C;
}

.card-rating-star{
    margin-top: -4px;
}

.partner p{
    font-weight: 500;
    font-size: 14px;
}

.info-card h4 {
    margin-bottom: 20px;
}

.carousel-title{
    font-size: 18px;
    font-weight: 800;
    margin-left: 8px;
}

.carousel-img{
    width: 50px;
}

.review-star{
    width: 12px;
}

.card-text{
    font-size: 12px;
}

.cards-carousel-main {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 18px #00000029;
    border-radius: 12px;
    padding: 25px;
    position: relative;
    height: 285px;
    width: 90%;
    margin: 0px auto;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 7px 6px 14px #00000029;
    border-radius: 12px;
}


.prev-btn,.next-btn {
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    padding: 5px 14px;
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0px 3px 14px #bfbdbd;
}

.prev-btn:hover, .next-btn:hover {    
    background-color: #f7f7f7;
    border-color: #f7f7f7;
}

.prev-btn {
    left: -21px;
}

.next-btn {
    right: -21px;
}

.fa-arrow-right:before {
    content: "\003e";
}

.fa-arrow-left:before {
    content: "\003c";
}

.carousel-inner {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0px auto;
    top: 105px;
    margin-top: -70px;
}

.footer p{
    text-align: center;
}